{% extends 'base.html' %}
{% block links %}
   <!-- basic -->
   <link rel="shortcut icon" href="../static/images/navbarAndFooter/PSF + Marsh White1.png">
   <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
   <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
   <link rel="stylesheet" href="/static/styles/navbar.css">
   <link rel="stylesheet" href="/static/styles/footer.css">
   <link rel="stylesheet" href="/static/styles/bt8.css">
   <link rel="stylesheet" href="/static/styles/style8.css">
   {% endblock links %} 



{% comment %} <body style="background-color: #0c0624;"> {% endcomment %}
{% block body %}
   <!-- loader  -->
   <!-- <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#" /></div>
      </div> -->
   <!-- end loader -->
   <!-- header -->
   <!-- header inner -->
   <div class="a" style="font-family: league_spartan;">
      <h1 style="color: whitesmoke;text-align:center;font-size:35px;font-weight:bold;">Agro Zone Internships</h1>
   </div>
   <div class="header">
      <div class="white_bg">



         <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12 col-lg-7">
                                 <div class="text-bg">
                                    <span>Technical Team (Drone and IoT)</span>
                                    <h1>FlyLab Solutions Private Limited</h1>
                                    <p>"Overall, 44% of the worldwide farming population (totaling 860 million) is
                                       poisoned by pesticides every year. We, at FlyLab Solutions Private Limited, want
                                       to use drone technology to change traditional farming practices as well as
                                       encourage farmers and youth to adopt this technology. By 2025, India is expected
                                       to have the world's third-largest drone market. Similarly, each technology has
                                       its own value and cost, so because drones are out of reach for most small-scale
                                       farmers, we want to introduce the DaaS (Drone As a Service) model to them. We
                                       also wish to start (ek gaon, ek drone) in the Maharashtra region so that every
                                       farmer can use this technology and revolutionize traditional farming practices.

                                       India is anticipated to have the third-largest drone market in the world by 2025.
                                       With the aid of our drone research labs and our skill development programs,
                                       FlyLab is here with solutions to diversify the needs of technological awareness.
                                       Thank you to the Indian government for supporting initiatives such as SkillIndia,
                                       Digital India, Atmanirbhar Bharat, StartupIndia, Sarva Shikshan Abhiyan, and the
                                       National Mission for Sustainable Agriculture (NMSA). Our startup also supports
                                       these initiatives by participating in hands-on learning and precision farming..

                                       "
                                    </p>
                                    <a class="read_more" href="https://forms.gle/79TzhRfKVM8aJL358"
                                       target="_blank">Apply Now<i style="margin-left:5px"
                                          class="fas fa-hand-point-up"></i></a>
                                 </div>
                              </div>
                              <div class="col-md-12 col-lg-5">
                                 <div class="text_img">
                                    <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#" />
                                    </figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </section>
      </div>
   </div>

   <!-- <div class="header">
      <div class="white_bg">

         <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12 col-lg-7">
                                 <div class="text-bg">
                                    <span>Role of Internship</span>
                                    <h1>S t a r t u p N a m e</h1>
                                    <p>Role Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
                                       cum labore amet provident? Voluptates iste tempora quidem quas facere labore,
                                       voluptatibus quaerat sapiente laboriosam id, adipisci cumque itaque earum. Omnis!
                                    </p>
                                    <a class="read_more" href="#">Apply Now<i style="margin-left:5px"
                                          class="fas fa-hand-point-up"></i></a>
                                 </div>
                              </div>
                              <div class="col-md-12 col-lg-5">
                                 <div class="text_img">
                                    <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#" />
                                    </figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </section>
      </div>
   </div>

   <div class="header">
      <div class="white_bg">

         <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12 col-lg-7">
                                 <div class="text-bg">
                                    <span>Role of Internship</span>
                                    <h1>S t a r t u p N a m e</h1>
                                    <p>Role Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
                                       cum labore amet provident? Voluptates iste tempora quidem quas facere labore,
                                       voluptatibus quaerat sapiente laboriosam id, adipisci cumque itaque earum. Omnis!
                                    </p>
                                    <a class="read_more" href="#">Apply Now<i style="margin-left:5px"
                                          class="fas fa-hand-point-up"></i></a>
                                 </div>
                              </div>
                              <div class="col-md-12 col-lg-5">
                                 <div class="text_img">
                                    <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#" />
                                    </figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </section>
      </div>
   </div>

   <div class="header">
      <div class="white_bg">

         <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12 col-lg-7">
                                 <div class="text-bg">
                                    <span>Role of Internship</span>
                                    <h1>S t a r t u p N a m e</h1>
                                    <p>Role Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
                                       cum labore amet provident? Voluptates iste tempora quidem quas facere labore,
                                       voluptatibus quaerat sapiente laboriosam id, adipisci cumque itaque earum. Omnis!
                                    </p>
                                    <a class="read_more" href="#">Apply Now<i style="margin-left:5px"
                                          class="fas fa-hand-point-up"></i></a>
                                 </div>
                              </div>
                              <div class="col-md-12 col-lg-5">
                                 <div class="text_img">
                                    <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#" />
                                    </figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </section>
      </div>
   </div>

   <div class="header">
      <div class="white_bg">

         <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12 col-lg-7">
                                 <div class="text-bg">
                                    <span>Role of Internship</span>
                                    <h1>S t a r t u p N a m e</h1>
                                    <p>Role Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
                                       cum labore amet provident? Voluptates iste tempora quidem quas facere labore,
                                       voluptatibus quaerat sapiente laboriosam id, adipisci cumque itaque earum. Omnis!
                                    </p>
                                    <a class="read_more" href="#">Apply Now<i style="margin-left:5px"
                                          class="fas fa-hand-point-up"></i></a>
                                 </div>
                              </div>
                              <div class="col-md-12 col-lg-5">
                                 <div class="text_img">
                                    <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#" />
                                    </figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </section>
      </div>
   </div>


   <div class="header">
      <div class="white_bg">

         <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12 col-lg-7">
                                 <div class="text-bg">
                                    <span>Role of Internship</span>
                                    <h1>S t a r t u p N a m e</h1>
                                    <p>Role Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
                                       cum labore amet provident? Voluptates iste tempora quidem quas facere labore,
                                       voluptatibus quaerat sapiente laboriosam id, adipisci cumque itaque earum. Omnis!
                                    </p>
                                    <a class="read_more" href="#">Apply Now<i style="margin-left:5px"
                                          class="fas fa-hand-point-up"></i></a>
                                 </div>
                              </div>
                              <div class="col-md-12 col-lg-5">
                                 <div class="text_img">
                                    <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#" />
                                    </figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </section>
      </div>
   </div> -->

   <script src="js/jquery.min.js"></script>
   <script src="js/custom.js"></script>



   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
   <script src="/static/js/play.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.waves.min.js"></script>


{% endblock body %}
