{% extends 'user_navbar.html' %}

{% block title %} Job Lists {% endblock %}
{% block job_list %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container mt-4">
<table class="table table-hover" id="example">
    <thead>
        <tr>
            <th>Sr.No</th>
            <th>Company Name</th>
            <th>Job Title</th>
            <th>Salary</th>
            <th>Location</th>
            <th>Created On</th>
            <th>Apply</th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{job.0}}</td>
            <td>{{job.1}}</td>
            <td>{{job.2}}</td>
            <td>{{job.3}}</td>
            <td>{{job.4}}</td>

            {% comment %} {% if job.5 in data %} {% endcomment %}
            {% comment %} <td><a class="btn btn-success">Applied</a></td> {% endcomment %}
            {% comment %} {% else %} {% endcomment %}
            <td><a href="/job_detail/{{job.id}}/" class="btn btn-success">Apply</a></td>
            {% comment %} {% endif %} {% endcomment %}
        </tr>

        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}