{% extends 'base.html' %}
{% block links %}

   <link rel="shortcut icon" href="../static/images/navbarAndFooter/MM + PSF + BF.png">
   <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
   <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
   <link rel="stylesheet" href="/static/styles/navbar.css">
   <link rel="stylesheet" href="/static/styles/footer.css">
   <link rel="stylesheet" href="/static/styles/bt8.css">
   <link rel="stylesheet" href="/static/styles/style8.css">
   {% endblock links %} 

   {% block body %}

   <!-- loader  -->
   <!-- <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#" /></div>
      </div> -->
   <!-- end loader -->
   <!-- header -->
   <!-- header inner -->
   <div class="a" style="font-family: league_spartan;">
      <h1 style="color: whitesmoke;text-align:center;font-size:35px;font-weight:bold;">Green Zone Internships</h1>
   </div>
   <div class="header">
      <div class="white_bg">



         <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12 col-lg-7">
                                 <div class="text-bg">
                                    <span>Technical Intern, Digital Intern, Business Development Intern
                                    </span>
                                    <h1>NIKOL EV</h1>
                                    <p>Role Description : NIKOL EV building one of the largest and operational EV
                                       charging Infrastructure in India, we manufacture AC EV chargers and have 3,000 EV
                                       chargers on board our mobile application which EV owners use to locate, book, pay
                                       and charge their EVs. We focus on providing innovative and sustainable solutions
                                       and have a customer centric approach in our service for hassle free and pleasant
                                       charging experience.
                                    </p>
                                    <a class="read_more" href="https://docs.google.com/forms/d/e/1FAIpQLSeawwQ38cJy0uiYhZWmksj-q6ZELf7qnLhkN3T5971FikCfVA/viewform?usp=sharing
                                          " target="_blank">Apply Now<i style="margin-left:5px"
                                          class="fas fa-hand-point-up"></i></a>
                                 </div>
                              </div>
                              <div class="col-md-12 col-lg-5">
                                 <div class="text_img">
                                    <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#" />
                                    </figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </section>
      </div>
   </div>

   <div class="header">
      <div class="white_bg">

         <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12 col-lg-7">
                                 <div class="text-bg">
                                    <span>Technical Intern, Sales & Marketing, Digital Marketing Intern
                                    </span>
                                    <h1>J4E</h1>
                                    <p>Role Description : J4E is a community of Start ups & MSMEs which is based on
                                       Indian Culture. The purpose of this community is to make entrepreneurs
                                       financially rich leading to growth of Indian economy.
                                    </p>
                                    <a class="read_more" href="https://forms.gle/6qcoBPevNBE66cs57
                                         " target="_blank">Apply Now<i style="margin-left:5px"
                                          class="fas fa-hand-point-up"></i></a>
                                 </div>
                              </div>
                              <div class="col-md-12 col-lg-5">
                                 <div class="text_img">
                                    <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#" />
                                    </figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </section>
      </div>
   </div>

   <!-- <div class="header">
            <div class="white_bg">

               <section class="banner_main">
                  <div id="banner1" class="carousel slide" data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#banner1" data-slide-to="0" class="active"></li>
                        <li data-target="#banner1" data-slide-to="1"></li>
                        <li data-target="#banner1" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="container-fluid">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-12 col-lg-7">
                                       <div class="text-bg">
                                          <span>Role of Internship</span>
                                          <h1>S t a r t u p N a m e</h1>
                                          <p>Role Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cum labore amet provident? Voluptates iste tempora quidem quas facere labore, voluptatibus quaerat sapiente laboriosam id, adipisci cumque itaque earum. Omnis! </p>
                                          <a class="read_more" href="#">Apply Now<i style="margin-left:5px" class="fas fa-hand-point-up"></i></a>
                                       </div>
                                    </div>
                                    <div class="col-md-12 col-lg-5">
                                       <div class="text_img">
                                          <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#"/></figure>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>

                     </div>

                  </div>
               </section>
            </div>
         </div>

         <div class="header">
            <div class="white_bg">
   
               <section class="banner_main">
                  <div id="banner1" class="carousel slide" data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#banner1" data-slide-to="0" class="active"></li>
                        <li data-target="#banner1" data-slide-to="1"></li>
                        <li data-target="#banner1" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="container-fluid">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-12 col-lg-7">
                                       <div class="text-bg">
                                          <span>Role of Internship</span>
                                          <h1>S t a r t u p N a m e</h1>
                                          <p>Role Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cum labore amet provident? Voluptates iste tempora quidem quas facere labore, voluptatibus quaerat sapiente laboriosam id, adipisci cumque itaque earum. Omnis! </p>
                                          <a class="read_more" href="#">Apply Now<i style="margin-left:5px" class="fas fa-hand-point-up"></i></a>
                                       </div>
                                    </div>
                                    <div class="col-md-12 col-lg-5">
                                       <div class="text_img">
                                          <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#"/></figure>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>

                     </div>

                  </div>
               </section>
            </div>
         </div>

         <div class="header">
            <div class="white_bg">

               <section class="banner_main">
                  <div id="banner1" class="carousel slide" data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#banner1" data-slide-to="0" class="active"></li>
                        <li data-target="#banner1" data-slide-to="1"></li>
                        <li data-target="#banner1" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="container-fluid">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-12 col-lg-7">
                                       <div class="text-bg">
                                          <span>Role of Internship</span>
                                          <h1>S t a r t u p N a m e</h1>
                                          <p>Role Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cum labore amet provident? Voluptates iste tempora quidem quas facere labore, voluptatibus quaerat sapiente laboriosam id, adipisci cumque itaque earum. Omnis! </p>
                                          <a class="read_more" href="#">Apply Now<i style="margin-left:5px" class="fas fa-hand-point-up"></i></a>
                                       </div>
                                    </div>
                                    <div class="col-md-12 col-lg-5">
                                       <div class="text_img">
                                          <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#"/></figure>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>

                     </div>

                  </div>
               </section>
            </div>
         </div>


         <div class="header">
            <div class="white_bg">

               <section class="banner_main">
                  <div id="banner1" class="carousel slide" data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#banner1" data-slide-to="0" class="active"></li>
                        <li data-target="#banner1" data-slide-to="1"></li>
                        <li data-target="#banner1" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="container-fluid">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-12 col-lg-7">
                                       <div class="text-bg">
                                          <span>Role of Internship</span>
                                          <h1>S t a r t u p N a m e</h1>
                                          <p>Role Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cum labore amet provident? Voluptates iste tempora quidem quas facere labore, voluptatibus quaerat sapiente laboriosam id, adipisci cumque itaque earum. Omnis! </p>
                                          <a class="read_more" href="#">Apply Now<i style="margin-left:5px" class="fas fa-hand-point-up"></i></a>
                                       </div>
                                    </div>
                                    <div class="col-md-12 col-lg-5">
                                       <div class="text_img">
                                          <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#"/></figure>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>

                     </div>

                  </div>
               </section>
            </div>
         </div> -->

   <script src="js/jquery.min.js"></script>
   <script src="js/custom.js"></script>



   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
   <script src="/static/js/play.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.waves.min.js"></script>

   {% endblock body %}
