{% extends 'base.html' %}
{% block links %}

   <link rel="shortcut icon" href="../static/images/navbarAndFooter/MM + PSF + BF.png">
   <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
   <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
   <link rel="stylesheet" href="/static/styles/navbar.css">
   <link rel="stylesheet" href="/static/styles/footer.css">
   <link rel="stylesheet" href="/static/styles/bt8.css">
   <link rel="stylesheet" href="/static/styles/style8.css">
   {% endblock links %} 

   {% block body %}


   <div class="a" style="font-family: league_spartan;">
      <h1 style="color: whitesmoke;text-align:center;font-size:35px;font-weight:bold;">Health &amp; Lifestyle Zone
         Internships</h1>
   </div>
   <div class="header">
      <div class="white_bg">



         <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12 col-lg-7">
                                 <div class="text-bg">
                                    <span>Digital marketing, Sales
                                    </span>
                                    <h1>Bamboo India</h1>
                                    <p>Role Description : Bamboo India mission is Pune, India based startup by Mrs.
                                       Ashwini Shinde and Mr. Yogesh Shinde in 15th Aug 2016. Primary aim to change the
                                       bamboo perception from The Poor Man’s Timber to Wise Man’s timber by providing
                                       plastic products replacement using innovative Bamboo Products like Bamboo
                                       Toothbrush, Bamboo Earbuds, corporate Gift articles & many more. It’s not for the
                                       income, but for the outcome

                                    </p>
                                    <a class="read_more" href="https://www.linkedin.com/posts/bambooindia_hiring-activity-7034583080610709504-8uj3
                                    " target="_blank">Apply Now<i style="margin-left:5px"
                                          class="fas fa-hand-point-up"></i></a>
                                 </div>
                              </div>
                              <div class="col-md-12 col-lg-5">
                                 <div class="text_img">
                                    <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#" />
                                    </figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </section>
      </div>
   </div>

   <div class="header">
      <div class="white_bg">

         <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12 col-lg-7">
                                 <div class="text-bg">
                                    <span>Digital marketing intern , sales intern , marketing intern and EA to CEO
                                    </span>
                                    <h1>PJP Tailorsmart services private limited
                                    </h1>
                                    <p>Role Description :We are a platform that connects local tailors and designers to
                                       B2B/C customers while driving sustainability by collecting and redistributing old
                                       cloths.. We are also an e-commerce platform for young and talented designers, we
                                       also have a shop in shop model with reliance retail brand called Avantra by
                                       trends. Through all these efforts we are delivering fashion to your footsteps and
                                       change the way you dress up.. We are a tech platform company so feel free to use
                                       our app, or website or even our whatS app bot called masterji on 7887888666 ,
                                       tailorsmart.in

                                    </p>
                                    <a class="read_more" href="#">
                                       <!-- Just ping me on 8149993555  -->
                                       Call 8149993555<i style="margin-left:5px" class="fas fa-hand-point-up"></i></a>
                                 </div>
                              </div>
                              <div class="col-md-12 col-lg-5">
                                 <div class="text_img">
                                    <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#" />
                                    </figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </section>
      </div>
   </div>

   <div class="header">
      <div class="white_bg">

         <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12 col-lg-7">
                                 <div class="text-bg">
                                    <span>Software Engineer, Marketing, Human Resource, Video Editor, IOS/ Android
                                       Developer, Content writer, Embedded Systems engineer, GPS/ GSM Intern,
                                       International Supply Chain Management, Digital Marketing, E Commerce Executive
                                       Etc. Hiring for all Levels
                                    </span>
                                    <h1>Fikkar Innovations Private Limited
                                    </h1>
                                    <p>Role Description :Fikkar is a start-up that is committed to simplifying people's
                                       lives through innovative and useful fashion-tech products. Our AI-based smart
                                       backpacks are just the beginning of their journey towards revolutionizing the
                                       industry, and we are poised to become a leading player in the Indian start-up
                                       ecosystem.

                                    </p>
                                    <a class="read_more" href=" https://forms.gle/s34zakjCRhYwD3tP9
                                    " target="_blank">Apply Now<i style="margin-left:5px"
                                          class="fas fa-hand-point-up"></i></a>
                                 </div>
                              </div>
                              <div class="col-md-12 col-lg-5">
                                 <div class="text_img">
                                    <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#" />
                                    </figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </section>
      </div>
   </div>

   <div class="header">
      <div class="white_bg">

         <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12 col-lg-7">
                                 <div class="text-bg">
                                    <span>Digital Marketing; On-ground marketing; Nutrition & Education; Research
                                    </span>
                                    <h1>Juvenate Wellbeing Pvt. Ltd.
                                    </h1>
                                    <p>Role Description : We are a Nutrition Education company that envisions educating
                                       people from all walks of life, starting from the age of 4, in the basic of
                                       nutrition, healthy habits, and better food choices. We work primarily with
                                       children, parents and teachers, using a curriculum & activity-based nutrition
                                       education program. Our mission is to alleviate malnutrition (under & over
                                       nutrition), lifestyle and preventable disease through Early childhood nutrition
                                       education, starting in the child's classroom. Our aim is to have a healthier
                                       future generation that is more productive and substantially adds to the economic
                                       growth of our country and the world.

                                    </p>
                                    <a class="read_more" href="https://docs.google.com/forms/d/e/1FAIpQLSfP6sWKfwY22sGcuyvGeO1lSRKgq8ZznvU2ruXOIs3qZklraA/viewform?usp=sf_link
                                    " target="_blank">Apply Now<i style="margin-left:5px"
                                          class="fas fa-hand-point-up"></i></a>
                                 </div>
                              </div>
                              <div class="col-md-12 col-lg-5">
                                 <div class="text_img">
                                    <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#" />
                                    </figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </section>
      </div>
   </div>

   <!-- <div class="header">
      <div class="white_bg">

         <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12 col-lg-7">
                                 <div class="text-bg">
                                    <span>Role of Internship</span>
                                    <h1>S t a r t u p N a m e</h1>
                                    <p>Role Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
                                       cum labore amet provident? Voluptates iste tempora quidem quas facere labore,
                                       voluptatibus quaerat sapiente laboriosam id, adipisci cumque itaque earum. Omnis!
                                    </p>
                                    <a class="read_more" href="#">Apply Now<i style="margin-left:5px"
                                          class="fas fa-hand-point-up"></i></a>
                                 </div>
                              </div>
                              <div class="col-md-12 col-lg-5">
                                 <div class="text_img">
                                    <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#" />
                                    </figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </section>
      </div>
   </div>


   <div class="header">
      <div class="white_bg">

         <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12 col-lg-7">
                                 <div class="text-bg">
                                    <span>Role of Internship</span>
                                    <h1>S t a r t u p N a m e</h1>
                                    <p>Role Description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
                                       cum labore amet provident? Voluptates iste tempora quidem quas facere labore,
                                       voluptatibus quaerat sapiente laboriosam id, adipisci cumque itaque earum. Omnis!
                                    </p>
                                    <a class="read_more" href="#">Apply Now<i style="margin-left:5px"
                                          class="fas fa-hand-point-up"></i></a>
                                 </div>
                              </div>
                              <div class="col-md-12 col-lg-5">
                                 <div class="text_img">
                                    <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#" />
                                    </figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </section>
      </div>
   </div> -->

   <script src="js/jquery.min.js"></script>
   <script src="js/custom.js"></script>



   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
   <script src="/static/js/play.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.waves.min.js"></script>

   {% endblock body %}
