{% comment %} {% extends 'base.html' %} {% endcomment %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pune Startup Fest'23</title>
	<link rel="shortcut icon" href="/static/images/navbarAndFooter/PSF + Marsh White1.png">
	<link rel="stylesheet" href="/static/styles/start.css">
	<link rel="stylesheet" href="/static/styles/navbar.css">
	<!-- <link rel="stylesheet" href="./styles/nav-index.css"> -->
	<!-- <link rel="stylesheet" href="./styles/homeCarousel.css"> -->

	<style>
		::-webkit-scrollbar {
			width: 0.8em;
			background: hsl(211, 100%, 5%);
			scroll-behavior: smooth;
		}

		::-webkit-scrollbar-thumb {
			background: linear-gradient(#add8e6, #00008b);
			border: 0.1em solid black;
			border-radius: 100vw;

		}
		@media screen and (max-width: 825px) {
    		#head4{
    		    margin-top:10.25%;
    		}
		}
	</style>
</head>

<body style="background: linear-gradient( to top, #09366e, #270f57, #17045e);">
	<div class="nav-bg"></div>
	<div class="logo-nav"><a href=" ./main"> <img src="images/navbarAndFooter/PSF + Marsh White1.png" alt=""></a>
	</div>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
	<div class="main-ani">
		<p id='head1' class='header' style="font-family: metropolis;">Welcome to the Most Awaited</p>
		<p id='head2' class='header' style="font-family: metropolis;">Annual Entrepreneurial Festival</p>
		<p id='head3' class='header'
			style="background-image: linear-gradient(#0BAAE6,#0478B3,#1548AF,#0B59A0);-webkit-text-fill-color: transparent; -webkit-background-clip: text; font-family: league_spartan;">
			PUNE STARTUP
			FEST'23
		</p>
		<!--<p id='head4' class='header' style="font-family: league_spartan;margin-top: 50px;">-->
			<!-- style="background-image: linear-gradient(#0BAAE6,#0478B3,#1548AF,#0B59A0);-webkit-text-fill-color: transparent; -webkit-background-clip: text; font-family: league_spartan;"> -->
		<!--	In association with -->
		<!--	<img src="/static/images/start/MMC_BIG.D.png" alt="" >-->
		<!--</p>-->
	</div>
	<div class="explore">
		<a href="/main">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<p>Explore</p>
		</a>
	</div>
	<div class='light x1'></div>
	<div class='light x2'></div>
	<div class='light x3'></div>
	<div class='light x4'></div>
	<div class='light x5'></div>
	<div class='light x6'></div>
	<div class='light x7'></div>
	<div class='light x8'></div>
	<div class='light x9'></div>

</body>

</html>