{% extends 'base.html' %}
{% block links %}
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="shortcut icon" href="./static/images/navbarAndFooter/PSF + Marsh White1.png">
  <link href="https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css">

  {% comment %} <link rel="stylesheet" href="/static/styles/style8.css"> {% endcomment %}
  <link rel="stylesheet" href="/static/styles/style8.css">
  <link rel="stylesheet" href="/static/styles/bt8.css">
  <link rel="stylesheet" href="/static/styles/startup.css">
  <link rel="stylesheet" href="/static/styles/footer.css">
  <link rel="stylesheet" href="/static/styles/navbar.css">
  {% endblock links %} 
  {% block css %}
  <style>
    .choose_your_profession{
      height: 300px;
      width: 400px;
      position: relative;
      align-items: center;
      border: 5
      px solid red;
      display: grid;
      justify-content: center;
      margin:auto;
      text-align: center;
      color: whitesmoke;
    }
    .choose{
      display:grid;
      justify-content: center;
      align-items:center;
      grid-template-columns: auto auto;
      grid-gap:40px;
    }
    .profession{
      {% comment %} width:50%; {% endcomment %}
      border:3px solid green;
      width: 100px;
      text-align: center;
    }
    </style>
  {%endblock css %} 
  
  
  {%block js %}
  
  {% endblock js %}
{% block body %}

{% comment %} {% block top %}0px{% endblock top %} {% endcomment %}

{% comment %} <body class="stop-scroll" style="background-color: #0c0624;">
  <div id="my-background"
    style="height: 150%; width: 100%; z-index: -100; position: fixed; filter: opacity(0.35); margin-top: -100px;">
  </div> {% endcomment %}

  <!--Start Header-->

  <script src="https://kit.fontawesome.com/6fc46b33e7.js" crossorigin="anonymous"></script>
  <section>
    <div class="choose_your_profession">
      <b>Choose your profession</b>
      <div class="choose">
        <div class="profession">
          <b><a style="color:white;" href="./company_login">StartUp</a></b>
        </div>
        <div class="profession">
          <b><a style="color:white;" href="./user_login">Intern</a></b>
        </div>
      </div>
    </div>
    <!-- StartUp Zones -->
    <div class="carding" style="margin-top:3%;">
      <div class="a" style="font-family: league_spartan;">
        <h1 style="color: whitesmoke;position:relative;justify-content:center; margin-top: 5rem;">Internship Portal</h1>
      </div>
      <hr>

      <a href="./social_startups">
        <div class="containerr" style="filter: drop-shadow(8px 8px 10px rgb(8, 6, 6));">
          <div data-aos="zoom-in">
            <div class="carrd">
              <div class="box">
                <div class="content">
                  <h3>SOCIAL ZONE INTERNSHIPS</h3>
                  <hr class="cardline">
                  <p>Features internships emphasizing on solution to a social problem to create change.</p>
                </div>
              </div>
            </div>
          </div>
      </a>

      <a href="./agro_startups">
        <div data-aos="zoom-in">
          <div class="carrd">
            <div class="box">
              <div class="content">
                <h3> AGRO ZONE INTERNSHIPS</h3>
                <hr class="cardline">
                <p>Features internships that help enhance traditional farming ways or develop new ones.</p>
              </div>
            </div>
          </div>
        </div>
      </a>

      <a href="./technical_startups">
        <div data-aos="zoom-in">
          <div class="carrd">
            <div class="box">
              <div class="content">
                <h3>TECHNICAL ZONE INTERNSHIPS</h3>
                <hr class="cardline">
                <p>Features internships and services of startups which leverages technology.</p>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="./health&lifestyle_startups">
        <div data-aos="zoom-in">
          <div class="carrd">
            <div class="box">
              <div class="content">
                <h3>HEALTH & LIFESTYLE ZONE INTERNSHIPS</h3>
                <hr class="cardline">
                <p>Features internships that aim to rejuvenate human life.</p>
              </div>
            </div>
          </div>
        </div>
      </a>

      <a href="./green_startups">
        <div data-aos="zoom-in">
          <div class="carrd">
            <div class="box">
              <div class="content">
                <h3>GREEN ZONE INTERNSHIPS</h3>
                <hr class="cardline">
                <p>Incubators, accelerators, financial institutions and coworking spaces.</p>
              </div>
            </div>
          </div>
        </div>
      </a>

      <!-- <a href="./innovation_zone_startup">
        <div data-aos="zoom-in">
          <div class="carrd">
            <div class="box">
              <div class="content">
                <h3>INNOVATION ZONE INTERNSHIPS</h3>
                <hr class="cardline">
                <p>Featuring creations of the innovators with IPR and/or patents with the sole aim of solving
                  widespread problems</p>
              </div>
            </div>
          </div>
        </div>
      </a> -->
      <a href="./education_zone_startup">
        <div data-aos="zoom-in">
          <div class="carrd">
            <div class="box">
              <div class="content">
                <h3>EDUCATION ZONE INTERNSHIPS</h3>
                <hr class="cardline">
                <p>Features internships that aim to innovate and revolutionize the education sector.</p>
              </div>
            </div>
          </div>
        </div>
      </a>
      
        <a href="./student_startups">
        <div data-aos="zoom-in">
          <div class="carrd">
            <div class="box">
              <div class="content">
                <h3>STUDENT ZONE INTERNSHIPS</h3>
                <hr class="cardline">
                <p>Features Young entrepeneurs striving to create a difference</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    
    </div>
    <!-- StartUp Zones -->
  </section>

  <!-- footer ends -->






  <!-- Add your site or application content here -->
  <script src="js/main.js"></script>
  <script src="js/main.min.js"></script>

  <!-- partial -->
  <script src="/static/js/startup.js"></script>

  <!-- footer  -->



  <script src="/static/js/play.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.waves.min.js"></script>


  {% endblock body %}
{% comment %} </body> {% endcomment %}

{% comment %} </html> {% endcomment %}