{% extends 'base.html' %} {% block links %}

<link rel="shortcut icon" href="/static/images/navbarAndFooter/PSF + Marsh White1.png">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
<!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
<!-- <link rel="stylesheet" href="/static/styles/investors.css"> -->
<link rel="stylesheet" href="/static/styles/navbar.css">
<link rel="stylesheet" href="/static/styles/footer.css">
<link rel="stylesheet" href="styles/profiles.css">


<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
{% endblock links %} {% block css %}

<style>
    html,
    body {
        overflow-x: hidden;
    }
</style>

{% endblock css %} {%block js %}

{% endblock js %} {% block extra %} {% endblock extra %} {% block body %}
{% comment %} {% block top %}0px{% endblock top %} {% endcomment %}
<script src="https://kit.fontawesome.com/6fc46b33e7.js" crossorigin="anonymous"></script>

<div style="width: 100%;margin: 20px; position: relative;">
    <center id="laptop">
        <h1 style="color: aqua; font-family: league_spartan; margin:20px;">PITCHER'S VALLEY
            INVESTORS
        </h1>
    </center>
</div>

<div class="container2">

    <div id="carousel">
        <div><img src="/staticimages/investors/Sanjay Mehta.png" />
        </div>
        <div><img src="/staticimages/investors/Bhawna Bhatnagar.png" />
        </div>
        <div><img src="/staticimages/investors/Dr. Ganesh Natarajan.png" />
        </div>
        <div><img src="/staticimages/investors/Mr. Mayuresh Raut.png" />
        </div>
        <div><img src="/staticimages/investors/Mahavir Pratap Sharma.png" />
        </div>
        <div><img src="/staticimages/investors/Madhu Lunawat.png" />
        </div>

        <div id="123"><img src="/staticimages/main/Pitcher's Valley Square.png">
        </div>
    </div>
</div>

<div class="container3" data-aos="zoom-in">
    <!-- Carousel wrapper -->
    <div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
        <!-- Indicators -->
        <div class="carousel-indicators">
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="3"
                aria-label="Slide 4"></button>
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="4"
                aria-label="Slide 5"></button>
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="5"
                aria-label="Slide 6"></button>

        </div>

        <!-- Inner -->
        <div class="carousel-inner d-block p-3">
            <!-- Single item -->
            <div class="carousel-item active ">
                <img src="/static/images/investors/Sanjay Mehta.png" class="d-block m-auto" style="width:90%"
                    alt="Sanjay Mehta" />

            </div>

            <!-- Single item -->
            <div class="carousel-item">
                <img src="/static/images/investors/Bhawna Bhatnagar.png" class="d-block m-auto" style="width:90%"
                    alt="Bhavana Bhatnagar" />

            </div>

            <!-- Single item -->
            <div class="carousel-item">
                <img src="/static/images/investors/Dr. Ganesh Natarajan.png" class="d-block  m-auto" style="width:90%"
                    alt="" />

            </div>

            <!-- Single item -->
            <div class="carousel-item">
                <img src="/static/images/investors/Mr. Mayuresh Raut.png" class="d-block  m-auto" style="width:90%"
                    alt="" />

            </div>

            <div class="carousel-item">
                <img src="/static/images/investors/Mahavir Pratap Sharma.png" class="d-block  m-auto" style="width:90%"
                    alt="" />

            </div>
            <div class="carousel-item">
                <img src="/static/images/investors/Madhu Lunawat.png" class="d-block  m-auto" style="width:90%" alt="" />

            </div>

        </div>
        <!-- Inner -->

        <!-- Controls -->
        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample"
            style="margin:-3%" data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample"
            style="margin:-3%" data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- Carousel wrapper -->
</div>
</div>

<div class="container">
    <div style="width: 100%;">
        <center>
            <h1 style="color: aqua; font-family: league_spartan; padding-top: 80px;">INVESTORS</h1>
        </center>
    </div>
    <div class="row justify-content-center p-3">
        <div class=" card111 col-12 col-sm-6 col-md-4 col-lg-3 m-3 p-2 " data-aos="fade-right">
            <div class="our-team">
                <div class="picture m-2 p-2">
                    <img class="img-fluid" src="/static/images/investors/Ashwin Raguraman no bg.jpg">
                </div>
                <div class="team-content">
                    <h3 class="name">Ashwin Raguraman</h3>
                    <h4 class="title">Co-founder & Partner, Bharat Innovation Funds, VC.
                    </h4>
                </div>
            </div>
        </div>
        <div class=" card111 col-12 col-sm-6 col-md-4 col-lg-3 m-3 p-2 " data-aos="zoom-in">
            <div class="our-team">
                <div class="picture m-2 p-2">
                    <img class="img-fluid" src="/static/images/investors/Devang Raja.jpg">
                </div>
                <div class="team-content">
                    <h3 class="name">Devang Raja</h3>
                    <h4 class="title">Angel Investor VC, Founder Venture Wolf.
                    </h4>
                </div>
            </div>
        </div>
        <div class=" card111 col-12 col-sm-6 col-md-4 col-lg-3 m-3 p-2 " data-aos="fade-left">
            <div class="our-team">
                <div class="picture m-2 p-2">
                    <img class="img-fluid" src="/static/images/investors/Sudin Baraokar.jpg">
                </div>
                <div class="team-content">
                    <h3 class="name">Sudin Baraokar</h3>
                    <h4 class="title">ndustry Expert, Global IT & Innovation Advisor, CIO Fortune 500 companies.
                    </h4>
                </div>
            </div>
        </div>
        <div class=" card111 col-12 col-sm-6 col-md-4 col-lg-3 m-3 p-2 " data-aos="fade-right">
            <div class="our-team">
                <div class="picture m-2 p-2">
                    <img class="img-fluid" src="/static/static/images/investors/Harsha Mundhada.jpg">
                </div>
                <div class="team-content">
                    <h3 class="name">Harsha Mundhada</h3>
                    <h4 class="title">Principal Inflexor Ventures
                    </h4>
                </div>
            </div>
        </div>
        <div class=" card111 col-12 col-sm-6 col-md-4 col-lg-3 m-3 p-2 " data-aos="zoom-in">
            <div class="our-team">
                <div class="picture m-2 p-2">
                    <img class="img-fluid" src="/static/images/investors/Tushar Kansal.jpg">
                </div>
                <div class="team-content">
                    <h3 class="name">Tushar Kansal</h3>
                    <h4 class="title">Founder & CEO Kansaltancy Ventures</h4>
                </div>
            </div>
        </div>
        <div class=" card111 col-12 col-sm-6 col-md-4 col-lg-3 m-3 p-2 " data-aos="fade-left">
            <div class="our-team">
                <div class="picture m-2 p-2">
                    <img class="img-fluid" src="/static/images/investors/vaibhav domkundwar.jpg">
                </div>
                <div class="team-content">
                    <h3 class="name">Vaibhav Domkundwar</h3>
                    <h4 class="title">CEO and Founder "Better"
                    </h4>
                </div>
            </div>
        </div>
        <div class=" card111 col-12 col-sm-6 col-md-4 col-lg-3 m-3 p-2 " data-aos="fade-right">
            <div class="our-team">
                <div class="picture m-2 p-2">
                    <img class="img-fluid" src="/static/images/investors/Aditya Pittie.jpg">
                </div>
                <div class="team-content">
                    <h3 class="name">Aditya Pittie</h3>
                    <h4 class="title">Managing Director PYN Autocomp Pvt Ltd.
                    </h4>
                </div>
            </div>
        </div>
        <div class=" card111 col-12 col-sm-6 col-md-4 col-lg-3 m-3 p-2 " data-aos="zoom-in">
            <div class="our-team">
                <div class="picture m-2 p-2">
                    <img class="img-fluid" src="/static/images/investors/Rohit Goyal.jpg">
                </div>
                <div class="team-content">
                    <h3 class="name">Rohit Goyal</h3>
                    <h4 class="title">Managing Director Sanveg green solutions
                    </h4>
                </div>
            </div>
        </div>
        <div class=" card111 col-12 col-sm-6 col-md-4 col-lg-3 m-3 p-2 " data-aos="fade-left">
            <div class="our-team">
                <div class="picture m-2 p-2">
                    <img class="img-fluid" src="/static/images/investors/Devansh Lakhani.jpg">
                </div>
                <div class="team-content">
                    <h3 class="name">Devansh Lakhani</h3>
                    <h4 class="title">Director & StartUp Fundraising expert
                        Lakhani Financial Services</h4>
                </div>
            </div>
        </div>


    </div>

</div>
<div class="super-container">
    <div style="width: 100%;margin: 20px; position: relative;">
        <center id="laptop">
            <h1 style="color: aqua; font-family: league_spartan; margin:20px;">VENTURE CAPITALS
            </h1>
        </center>
    </div>
    <div class="subContainer">
        <div class="filterDiv two box">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Venture Capitals/100X-01.png" alt="">
                <p><a href="">100X</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Venture Capitals/Indian Angel Network-01.png" alt="">
                <p><a href="">Indian Angel Network</a></p>
            </div>
        </div>

        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Venture Capitals/Mumbai network-01.png" alt="">
                <p><a href="">Mumbai Angels Network</a></p>
            </div>
        </div>


        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Venture Capitals/Ah ventures-01.png" alt="">
                <p><a href="">Ah ventures</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Venture Capitals/Better-01.png" alt="">
                <p><a href="">Better</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Venture Capitals/BFC-01.png" alt="">
                <p><a href="">BFC</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Venture Capitals/Campus fund-01.png" alt="">
                <p><a href="">Campus fund</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Venture Capitals/Dexter Angels-01.png" alt="">
                <p><a href="">Dexter Angels</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Venture Capitals/Eagle wings-01.png" alt="">
                <p><a href="">Eagle wings</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Venture Capitals/Ethiqual-01.png" alt="">
                <p><a href="">Ethiqual</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Venture Capitals/iiA-01.png" alt="">
                <p><a href="">iiA</a></p>
            </div>
        </div>

        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Venture Capitals/Inflexor-01.png" alt="">
                <p><a href="">Inflexor</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Venture Capitals/Inflextion-01.png" alt="">
                <p><a href="">Inflextion</a></p>
            </div>
        </div>

        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Venture Capitals/Sea fund-01.png" alt="">
                <p><a href="">Sea Fund</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Venture Capitals/WFC-01.png" alt="">
                <p><a href="">WFC</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Venture Capitals/Windrose-01.png" alt="">
                <p><a href="">Windrose</a></p>
            </div>
        </div>






        <!--
            <div class="filterDiv two box"><span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <img src="/static/images/PastPartners/Sponsors/AccessMBA.jpg" alt="">
                    <p><a href="">Outreach Partner</a></p>
                </div>
            </div>
            <div class="filterDiv two box"><span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <img src="/static/images/PastPartners/Sponsors/Funky Turtle.jpg" alt="">
                    <p><a href="">Coupon Partner</a></p>
                </div>
            </div>
            <div class="filterDiv two box"><span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <img src="/static/images/PastPartners/Sponsors/10000 startups.jpg" alt="">
                    <p><a href="">Ecosystem Partner</a></p>
                </div>
            </div>
            <div class="filterDiv two box"><span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <img src="/static/images/PastPartners/Sponsors/Ahaslides.jpg" alt="">
                    <p><a href="">Virtual Event Partner</a></p>
                </div>
            </div>
            <div class="filterDiv two box"><span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <img src="/static/images/PastPartners/Sponsors/asheyys.jpg" alt="">
                    <p><a href="">Official Dessert Partner</a></p>
                </div>
            </div>
            <div class="filterDiv two box"><span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <img src="/static/images/PastPartners/Sponsors/aws activate.jpg" alt="">
                    <p><a href="">Web Services Partner</a></p>
                </div>
            </div>
            <div class="filterDiv two box"><span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <img src="/static/images/PastPartners/Sponsors/D2C.jpg" alt="">
                    <p><a href="">Event Partner</a></p>
                </div>
            </div>
            <div class="filterDiv two box"><span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <img src="/static/images/PastPartners/Sponsors/Grabon.jpg" alt="">
                    <p><a href="">Official Savings Partner</a></p>
                </div>
            </div>
            <div class="filterDiv two box"><span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <img src="/static/images/PastPartners/Sponsors/IIA.jpg" alt="">
                    <p><a href="">Investment Partner</a></p>
                </div>
            </div>
            <div class="filterDiv two box"><span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <img src="/static/images/PastPartners/Sponsors/Internin.jpg" alt="">
                    <p><a href="">Internship Partner</a></p>
                </div>
            </div>
            <div class="filterDiv two box"><span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <img src="/static/images/PastPartners/Sponsors/Knowafest.jpg" alt="">
                    <p><a href="">Sanitation Partner</a></p>
                </div>
            </div>
            <div class="filterDiv two box"><span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <img src="/static/images/PastPartners/Sponsors/Msis.jpg" alt="">
                    <p><a href="">Goverment Partner</a></p>
                </div>
            </div>
            <div class="filterDiv two box"><span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <img src="/static/images/PastPartners/Sponsors/PMA.jpg" alt="">
                    <p><a href="">Community Partner</a></p>
                </div>
            </div>
            <div class="filterDiv two box"><span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <img src="/static/images/PastPartners/Sponsors/riidl.jpg" alt="">
                    <p><a href="">Community Partner</a></p>
                </div>
            </div>
            <div class="filterDiv two box"><span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <img src="/static/images/PastPartners/Sponsors/Sakal.jpg" alt="">
                    <p><a href="">Print Media Partner</a></p>
                </div>
            </div>
            <div class="filterDiv two box"><span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <img src="/static/images/PastPartners/Sponsors/Shoptimize.jpg" alt="">
                    <p><a href="">E-Commerce Partner</a></p>
                </div>
            </div>
            <div class="filterDiv two box"><span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <img src="/static/images/PastPartners/Sponsors/StockGro.jpg" alt="">
                    <p><a href="">Bullrun Event Partner</a></p>
                </div>
            </div>
            <div class="filterDiv two box"><span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <img src="/static/images/PastPartners/Sponsors/Tickertape.jpg" alt="">
                    <p><a href="">Investment Partner</a></p>
                </div>
            </div>
            <div class="filterDiv two box"><span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <img src="/static/images/PastPartners/Sponsors/venture wolf.jpg" alt="">
                    <p><a href="">Investment Partner</a></p>
                </div>
            </div>
            <div class="filterDiv two box"><span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <img src="/static/images/PastPartners/Sponsors/Wework.jpg" alt="">
                    <p><a href="">Co-Working Partner</a></p>
                </div>
            </div>
            <div class="filterDiv two box"><span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <img src="/static/images/PastPartners/Sponsors/Yes Startups.jpg" alt="">
                    <p><a href="">Service Partner</a></p>
                </div>
            </div>
            <div class="filterDiv two box"><span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <img src="/static/images/PastPartners/Sponsors/YKT Talentica.jpg" alt="">
                    <p><a href="">Consulting Partner</a></p>
                </div>
            </div>
         -->



        <div class="filterDiv three box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Media Partners/Ecosystem_Partner.png" alt="">
                <p><a href="">Ecosystem Partner</a></p>
            </div>
        </div>
        <div class="filterDiv three box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Media Partners/Growth_Partner.png" alt="">
                <p><a href="">Growth Partner</a></p>
            </div>
        </div>
        <div class="filterDiv three box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Media Partners/HRMS_partner.png" alt="">
                <p><a href="">HRMS Partner</a></p>
            </div>
        </div>
        <div class="filterDiv three box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Media Partners/Content_Partner.png" alt="">
                <p><a href="">Content Partner</a></p>
            </div>
        </div>
        <div class="filterDiv three box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Media Partners/Hydration_Partner.png" alt="">
                <p><a href="">Hydration Partner</a></p>
            </div>
        </div>
        <div class="filterDiv three box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Media Partners/Vats-01.png" alt="">
                <p><a href="">Platinum Partner</a></p>
            </div>
        </div>

        <!-- <h1 class="title1" style="font-family: league_spartan;">Patronages</h1>
            <div class="filterDiv three box"><span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <img src="/static/images/PastPartners/Patronages/Nippam-01.png" alt="">
                    <p><a href="">Nippam</a></p>
                </div>
            </div> -->

        <!-- <div class="filterDiv two box"><span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <img src="/static/images/PastPartners/Media Partners/TOI.jpg" alt="">
                    <p><a href="">The Times Of India</a></p>
                </div>
            </div> -->


        <!-- <div class="filterDiv fruits"><img src="/static/images/s3.jpeg" alt=""></div> -->
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
<script src="./js/play.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.waves.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
    AOS.init({
        duration: 1500,
    });
</script>
<!-- JavaScript for filterable element -->
<script>
    filterSelection("two")

    function filterSelection(c) {
        var x, i;
        x = document.getElementsByClassName("filterDiv");
        if (c == "all") c = "";
        // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
        for (i = 0; i < x.length; i++) {
            w3RemoveClass(x[i], "show");
            if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
        }
    }

    // Show filtered elements
    function w3AddClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            if (arr1.indexOf(arr2[i]) == -1) {
                element.className += " " + arr2[i];
            }
        }
    }

    // Hide elements that are not selected
    function w3RemoveClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            while (arr1.indexOf(arr2[i]) > -1) {
                arr1.splice(arr1.indexOf(arr2[i]), 1);
            }
        }
        element.className = arr1.join(" ");
    }

    // Add active class to the current control button (highlight it)
    var btnContainer = document.getElementById("myBtnContainer");
    var btns = btnContainer.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }
</script>
<script>
    VANTA.WAVES({
        el: "#my-background",
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 200.00,
        minWidth: 200.00,
        scale: 1.00,
        scaleMobile: 1.00
    })
</script>
{% endblock body %}
