{% extends 'base.html' %}

{% block links %}
<link rel="shortcut icon" href="/static/images/navbarAndFooter/PSF + Marsh White1.png">
<!-- CSS -->
<!-- <link rel="stylesheet" href="./CSS/container.css">
<link rel="stylesheet" href="./CSS/filterable.css"> -->
<link rel="stylesheet" href="/static/styles/partners.css">
<!-- CSS -->

<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>
<link rel="stylesheet" href="/static/styles/navbar.css">
<link rel="stylesheet" href="/static/styles/footer.css">
{% endblock links %}
{% block css %}

{% endblock css %}
{%block js %}

{% endblock js %}
{% block extra %}

{% endblock extra %}
{% block body %}
<div class="super-container" style="box-sizing:border-box;height:fit-content; width:auto;margin: 2%;padding: 2%;">
    <div id="myBtnContainer">
        <!-- <button class="btn active" onclick="filterSelection('all')"> Show all</button> -->
        <button class="btn active btntwo" onclick="filterSelection('two')">
            <h4 style="color:  white; font-family: metropolis;">Sponsors </h4>
        </button>
        <!-- <button class="btn btnthr" onclick="filterSelection('three')"> -->
        <button class="btn  btnthr" onclick="filterSelection('three')">
            <h4 style="color: white; font-family: metropolis;">Partners </h4>
        </button>
        <button class="btn btnone" onclick="filterSelection('one')">
            <h4 style="color: white; font-family: metropolis;">Media Partner</h4>
        </button>
    </div>

    <!-- The filterable elements. Note that some have multiple class names (this can be used if they belong to multiple categories) -->

    <div class="subContainer">
        <div class="filterDiv one box">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Media Partners/Sakal Times.jpg" alt="">
                <p><a href="">Sakal</a></p>
            </div>
        </div>
        <div class="filterDiv one box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Media Partners/Campus Times.jpg" alt="">
                <p><a href="">Campus Times Pune</a></p>
            </div>
        </div>

        <div class="filterDiv one box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Media Partners/Online media partner 3.png" alt="">
                <p><a href="">The Mileage</a></p>
            </div>
        </div>


        <div class="filterDiv one box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Media Partners/Online media partner 2.png" alt="">
                <p><a href="">Punekar News</a></p>
            </div>
        </div>
        <!-- <div class="filterDiv one box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Venture Capitals/Better-01.png" alt="">
                <p><a href="">Better</a></p>
            </div>
        </div>
        <div class="filterDiv one box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Venture Capitals/BFC-01.png" alt="">
                <p><a href="">BFC</a></p>
            </div>
        </div>
        <div class="filterDiv one box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Venture Capitals/Campus fund-01.png" alt="">
                <p><a href="">Campus fund</a></p>
            </div>
        </div>
        <div class="filterDiv one box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Venture Capitals/Dexter Angels-01.png" alt="">
                <p><a href="">Dexter Angels</a></p>
            </div>
        </div>
        <div class="filterDiv one box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Venture Capitals/Eagle wings-01.png" alt="">
                <p><a href="">Eagle wings</a></p>
            </div>
        </div>
        <div class="filterDiv one box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Venture Capitals/Ethiqual-01.png" alt="">
                <p><a href="">Ethiqual</a></p>
            </div>
        </div>
        <div class="filterDiv one box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Venture Capitals/iiA-01.png" alt="">
                <p><a href="">iiA</a></p>
            </div>
        </div>
       
        <div class="filterDiv one box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Venture Capitals/Inflexor-01.png" alt="">
                <p><a href="">Inflexor</a></p>
            </div>
        </div>
        <div class="filterDiv one box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Venture Capitals/Inflextion-01.png" alt="">
                <p><a href="">Inflextion</a></p>
            </div>
        </div>
        
        <div class="filterDiv one box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Venture Capitals/Sea fund-01.png" alt="">
                <p><a href="">Sea Fund</a></p>
            </div>
        </div>
        <div class="filterDiv one box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Venture Capitals/WFC-01.png" alt="">
                <p><a href="">WFC</a></p>
            </div>
        </div>
        <div class="filterDiv one box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Venture Capitals/Windrose-01.png" alt="">
                <p><a href="">Windrose</a></p>
            </div>
        </div> -->



        <h1 class="title1 filterDiv two" style="font-family: league_spartan;">Title Sponsor</h1>
        <!-- <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <a href="https://www.marshmclennan.com/" target="_blank">
                <img src="/static/images/PastPartners/Sponsors/MarshMcLennan.png" alt=""></a>
                <p><a href="https://www.marshmclennan.com/" target="_blank">MarshMcLennan</a></p>
            </div>
        </div> -->
        <center>
            <div class="filterDiv two mc">
                <a href="https://www.marshmclennan.com/" target="_blank"><img
                        src="/static/images/start/MarshMcLennan white.png" alt="" id="sponsor1"></a>
                <h3 id="bc"><i>We make a difference in the moments that matter</i>
                </h3>



            </div>
            <h5 id="bc1">
                <p> Marsh McLennan (NYSE: MMC) is the world's leading
                    professional services firm in the areas of risk, strategy and
                    people. The Company's 86,000 colleagues advise clients in
                    130 countries. With annual revenue over $19 bilion, Marsh
                    McLennan helps clients navigate an increasingly dynamic
                    and complex environment through four market-leading
                    businesses.</p>
            </h5>
        </center>
        <h1 class="title1 filterDiv two" style="font-family: league_spartan;">Associate Sponsor</h1>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <a href="https://www.bharatforge.com/" target="_blank">
                    <img src="/static/images/PastPartners/Sponsors/Bharat_forge.png" alt=""></a>
                <p><a href="https://www.bharatforge.com/" target="_blank">Bharat Forge</a></p>
            </div>
        </div>
        <h1 class="title1 filterDiv two" style="font-family: league_spartan;">Power Sponsor</h1>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <a href="https://www.finiq.com/" target="_blank">
                    <img src="/static/images/PastPartners/Sponsors/Finiq.jpg" alt=""></a>
                <p><a href="https://www.finiq.com/" target="_blank">FinIQ</a></p>
            </div>
        </div>


        <!--
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Sponsors/AccessMBA.jpg" alt="">
                <p><a href="">Outreach Partner</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Sponsors/Funky Turtle.jpg" alt="">
                <p><a href="">Coupon Partner</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Sponsors/10000 startups.jpg" alt="">
                <p><a href="">Ecosystem Partner</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Sponsors/Ahaslides.jpg" alt="">
                <p><a href="">Virtual Event Partner</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Sponsors/asheyys.jpg" alt="">
                <p><a href="">Official Dessert Partner</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Sponsors/aws activate.jpg" alt="">
                <p><a href="">Web Services Partner</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Sponsors/D2C.jpg" alt="">
                <p><a href="">Event Partner</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Sponsors/Grabon.jpg" alt="">
                <p><a href="">Official Savings Partner</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Sponsors/IIA.jpg" alt="">
                <p><a href="">Investment Partner</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Sponsors/Internin.jpg" alt="">
                <p><a href="">Internship Partner</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Sponsors/Knowafest.jpg" alt="">
                <p><a href="">Sanitation Partner</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Sponsors/Msis.jpg" alt="">
                <p><a href="">Goverment Partner</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Sponsors/PMA.jpg" alt="">
                <p><a href="">Community Partner</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Sponsors/riidl.jpg" alt="">
                <p><a href="">Community Partner</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Sponsors/Sakal.jpg" alt="">
                <p><a href="">Print Media Partner</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Sponsors/Shoptimize.jpg" alt="">
                <p><a href="">E-Commerce Partner</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Sponsors/StockGro.jpg" alt="">
                <p><a href="">Bullrun Event Partner</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Sponsors/Tickertape.jpg" alt="">
                <p><a href="">Investment Partner</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Sponsors/venture wolf.jpg" alt="">
                <p><a href="">Investment Partner</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Sponsors/Wework.jpg" alt="">
                <p><a href="">Co-Working Partner</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Sponsors/Yes Startups.jpg" alt="">
                <p><a href="">Service Partner</a></p>
            </div>
        </div>
        <div class="filterDiv two box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Sponsors/YKT Talentica.jpg" alt="">
                <p><a href="">Consulting Partner</a></p>
            </div>
        </div>
     -->



        <div class="filterDiv three box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Media Partners/Ecosystem_Partner.png" alt="">
                <p><a href="">Ecosystem Partner</a></p>
            </div>
        </div>
        <div class="filterDiv three box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Media Partners/Growth_Partner.png" alt="">
                <p><a href="">Growth Partner</a></p>
            </div>
        </div>
        <div class="filterDiv three box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Media Partners/HRMS_partner.png" alt="">
                <p><a href="">HRMS Partner</a></p>
            </div>
        </div>
        <div class="filterDiv three box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Media Partners/Content_Partner.png" alt="">
                <p><a href="">Content Partner</a></p>
            </div>
        </div>
        <div class="filterDiv three box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Media Partners/Hydration_Partner.png" alt="">
                <p><a href="">Hydration Partner</a></p>
            </div>
        </div>
        <div class="filterDiv three box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Media Partners/Urban nomads1-01.png" alt="">
                <p><a href="">Community Partner</a></p>
            </div>
        </div>
        <div class="filterDiv three box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Media Partners/Stock grow-01.png" alt="">
                <p><a href="">BullRun Event Partner</a></p>
            </div>
        </div>
        <div class="filterDiv three box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Media Partners/Vats-01.png" alt="">
                <p><a href="">Platinum Partner</a></p>
            </div>
        </div>
        <div class="filterDiv three box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Media Partners/quickheal.png" alt="">
                <p><a href="">Cyber Security Partner</a></p>
            </div>
        </div>
        <div class="filterDiv three box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Media Partners/SCEi.png" alt="">
                <p><a href="">Ecosystem Partner</a></p>
            </div>
        </div>
        <div class="filterDiv three box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Media Partners/pngbrothers-01.png" alt="">
                <p><a href="">Jewel Partner</a></p>
            </div>
        </div>
        <div class="filterDiv three box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Media Partners/NASSCOM-01.png" alt="">
                <p style="font-size: 18px;"><a href="">StartUp Ecosystem Partner</a></p>
            </div>
        </div>
        <div class="filterDiv three box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Media Partners/tie pune.png" alt="">
                <p style="font-size: 18px;"><a href="">StartUp Ecosystem Partner</a></p>
            </div>
        </div>
        <div class="filterDiv three box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Media Partners/Bhau.png" alt="">
                <p><a href="">Incubation Partner</a></p>
            </div>
        </div>
        <div class="filterDiv three box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Media Partners/Payphi.png" alt="">
                <p><a href="">FinTech Partner</a></p>
            </div>
        </div>



        <!-- <h1 class="title1" style="font-family: league_spartan;">Patronages</h1>
        <div class="filterDiv three box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Patronages/Nippam-01.png" alt="">
                <p><a href="">Nippam</a></p>
            </div>
        </div> -->

        <!-- <div class="filterDiv one box"><span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="content">
                <img src="/static/images/PastPartners/Media Partners/TOI.jpg" alt="">
                <p><a href="">The Times Of India</a></p>
            </div>
        </div> -->


        <!-- <div class="filterDiv fruits"><img src="/static/images/s3.jpeg" alt=""></div> -->
    </div>
</div>
<script>
    filterSelection("two")

    function filterSelection(c) {
        var x, i;
        x = document.getElementsByClassName("filterDiv");
        if (c == "all") c = "";
        // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
        for (i = 0; i < x.length; i++) {
            w3RemoveClass(x[i], "show");
            if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
        }
    }

    // Show filtered elements
    function w3AddClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            if (arr1.indexOf(arr2[i]) == -1) {
                element.className += " " + arr2[i];
            }
        }
    }

    // Hide elements that are not selected
    function w3RemoveClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            while (arr1.indexOf(arr2[i]) > -1) {
                arr1.splice(arr1.indexOf(arr2[i]), 1);
            }
        }
        element.className = arr1.join(" ");
    }

    // Add active class to the current control button (highlight it)
    var btnContainer = document.getElementById("myBtnContainer");
    var btns = btnContainer.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }
</script>

<script>
    VANTA.WAVES({
        el: "#my-background",
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 200.00,
        minWidth: 200.00,
        scale: 1.00,
        scaleMobile: 1.00
    })
</script>
{% endblock body %}