{% extends 'base.html' %}
{% block links %}
   <link rel="shortcut icon" href="../static/images/navbarAndFooter/MM + PSF + BF.png">
   <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
   <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
   <link rel="stylesheet" href="/static/styles/navbar.css">
   <link rel="stylesheet" href="/static/styles/footer.css">
   <link rel="stylesheet" href="/static/styles/bt8.css">
   <link rel="stylesheet" href="/static/styles/style8.css">
   {% endblock links %} 

{% block body %}

   <!-- loader  -->
   <!-- <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#" /></div>
      </div> -->
   <!-- end loader -->
   <!-- header -->
   <!-- header inner -->
   <div class="a" style="font-family: league_spartan;">
      <h1 style="color: whitesmoke;text-align:center;font-size:35px;font-weight:bold;">Student Zone Internships</h1>
   </div>
   <!-- <div class="header">-->
   <!--   <div class="white_bg">-->



   <!--      <section class="banner_main">-->
   <!--         <div id="banner1" class="carousel slide" data-ride="carousel">-->
   <!--            <ol class="carousel-indicators">-->
   <!--               <li data-target="#banner1" data-slide-to="0" class="active"></li>-->
   <!--               <li data-target="#banner1" data-slide-to="1"></li>-->
   <!--               <li data-target="#banner1" data-slide-to="2"></li>-->
   <!--            </ol>-->
   <!--            <div class="carousel-inner">-->
   <!--               <div class="carousel-item active">-->
   <!--                  <div class="container-fluid">-->
   <!--                     <div class="carousel-caption">-->
   <!--                        <div class="row">-->
   <!--                           <div class="col-md-12 col-lg-7">-->
   <!--                              <div class="text-bg">-->
   <!--                                 <span>Role of Internship</span>-->
   <!--                                 <h1>S t a r t u p N a m e</h1>-->
   <!--                                 <p>Role Description : Lorem ipsum dolor sit amet consectetur adipisicing elit.-->
   <!--                                    Iusto-->
   <!--                                    cum labore amet provident? Voluptates iste tempora quidem quas facere labore,-->
   <!--                                    voluptatibus quaerat sapiente laboriosam id, adipisci cumque itaque earum.-->
   <!--                                    Omnis!-->
   <!--                                 </p>-->
   <!--                                 <a class="read_more" href="#">Apply Now<i style="margin-left:5px"-->
   <!--                                       class="fas fa-hand-point-up"></i></a>-->
   <!--                              </div>-->
   <!--                           </div>-->
   <!--                           <div class="col-md-12 col-lg-5">-->
   <!--                              <div class="text_img">-->
   <!--                                 <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png"-->
   <!--                                       alt="#" />-->
   <!--                                 </figure>-->
   <!--                              </div>-->
   <!--                           </div>-->
   <!--                        </div>-->
   <!--                     </div>-->
   <!--                  </div>-->
   <!--               </div>-->

   <!--            </div>-->

   <!--         </div>-->
   <!--      </section>-->
   <!--   </div>-->
   <!--</div> -->

   <div class="header">
      <div class="white_bg">

         <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12 col-lg-7">
                                 <div class="text-bg">
                                    <span>DIgital Marketing, Tech, etc..</span>
                                    <h1>Orbiting</h1>
                                    <p>"Orbiting is a community-driven platform with a focus on student empowerment.
                                       Students are encouraged to take an active role in the platform, including
                                       selecting their own community managers and shaping the content that interests
                                       them. This democratic approach to online communities is appealing to colleges
                                       looking for new and innovative ways to connect with their audience.

                                       With Orbiting, colleges can engage with students, entrepreneurs, and founders,
                                       as
                                       well as host live events, forums, and discussions. The platform offers a
                                       variety
                                       of tools for sharing photos, videos, and conducting private or group chats."
                                    </p>
                                    <a class="read_more"
                                       href="https://docs.google.com/forms/d/e/1FAIpQLScQDwExPtbPvnze2yo_qz7SL84IFAw7ylEq_iI6vbOlmc38Mg/viewform?usp=sf_link"
                                       target="_blank">Apply
                                       Now<i style="margin-left:5px" class="fas fa-hand-point-up"></i></a>
                                 </div>
                              </div>
                              <div class="col-md-12 col-lg-5">
                                 <div class="text_img">
                                    <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#" />
                                    </figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </section>
      </div>
   </div>

   <div class="header">
      <div class="white_bg">

         <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12 col-lg-7">
                                 <div class="text-bg">
                                    <span>Digital service</span>
                                    <h1>Elite Media</h1>
                                    <p>Providing content to people on life and business skills with high value and
                                       utilized content. </p>
                                    <a class="read_more" href="#" target="_blank">Coming soon<i style="margin-left:5px"
                                          class="fas fa-hand-point-up"></i></a>
                                 </div>
                              </div>
                              <div class="col-md-12 col-lg-5">
                                 <div class="text_img">
                                    <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#" />
                                    </figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </section>
      </div>
   </div>

   <div class="header">
      <div class="white_bg">

         <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12 col-lg-7">
                                 <div class="text-bg">
                                    <span>Graphic Designer familiar with using Adobe Tools, Figma, and good color and
                                       design sense.</span>
                                    <h1>Smug Hawk</h1>
                                    <p>Smug Hawk is a dynamic and young agency that provides comprehensive branding
                                       services from building your brand book to establishing your entire online
                                       presence. </p>
                                    <a class="read_more"
                                       href="https://docs.google.com/forms/d/e/1FAIpQLSc0vjRwG2_aIs_r6UE13q_C5hPhpMWw_TUMARUXJVdSJv2Cdg/viewform"
                                       target="_blank">Apply
                                       Now<i style="margin-left:5px" class="fas fa-hand-point-up"></i></a>
                                 </div>
                              </div>
                              <div class="col-md-12 col-lg-5">
                                 <div class="text_img">
                                    <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#" />
                                    </figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </section>
      </div>
   </div>

   <div class="header">
      <div class="white_bg">

         <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12 col-lg-7">
                                 <div class="text-bg">
                                    <span>Marketing Intern </span>
                                    <h1>Chronicles Sporting Events
                                    </h1>
                                    <p>Role Description : "Being a sportsperson myself, I faced many challenges
                                       including a lack of good sporting
                                       platforms or decent events at the amateur level to showcase my talent and or
                                       even perform
                                       well due to the lack of good officials, types of equipment, infrastructure ,
                                       and management
                                       during the events I participated in .
                                       This concern motivated me to launch my start-up to provide sportspersons with
                                       the best
                                       professional sporting platforms and limelight that an athlete deserves. While
                                       pursuing my
                                       course, executive postgraduate diploma in sports management course, I
                                       implemented the
                                       learnings in my start-up and initiated it in Feb 2022. The name of my
                                       organization is
                                       Chronicles Sporting Events Pvt. Ltd.

                                       Chronicles sporting events Pvt. Ltd. is a Sports event management firm based
                                       in Delhi,
                                       India. which Create-Manage-Supervise-Organize! The main goal of this
                                       organization is to
                                       professionalize the sporting platforms domestically and worldwide with
                                       innovation and
                                       perfection in sports.

                                       Our prime focus is to create & work on different sports ventures which are
                                       growing

                                       worldwide & provide our clients best platforms and insights for future growth.
                                       Over the
                                       past 10 months, we have successfully organized, created, and collaborated on 4
                                       sports
                                       ventures in central Delhi & Delhi NCR
                                       Mission – Vision Statement

                                       Create-Manage-Supervise-Organize

                                       Sporting events of all types of professional/Semi-Professional/Casual games
                                       which are
                                       played domestically / Nationally / Internationally."

                                    </p>
                                    <a class="read_more"
                                       href="https://docs.google.com/forms/d/1yLaKZYCBpweXrpExjLTmbBAIzpECMw9acPatXgD7Cgc/viewform?edit_requested=true"
                                       target="_blank">Apply
                                       Now<i style="margin-left:5px" class="fas fa-hand-point-up"></i></a>
                                 </div>
                              </div>
                              <div class="col-md-12 col-lg-5">
                                 <div class="text_img">
                                    <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#" />
                                    </figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </section>
      </div>
   </div>


   <div class="header">
      <div class="white_bg">

         <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12 col-lg-7">
                                 <div class="text-bg">
                                    <span>Operations, marketing, sales, graphic designing, video making,
                                    </span>
                                    <h1>DES RANGEELA HERITAGE PVT LTD</h1>
                                    <p>Role Description :"Des Rangeela is a Pune based bootstrapped social enterprise
                                       that works to empower Indian artisans, brings Indian handicrafts to your life,
                                       building local economy and preserving Indian culture! Des Rangeela works to
                                       contribute a share on revival of Indian art and providing sustainable
                                       livelihoods to Indian artisans, with a mission to establish Craft production
                                       Units and bringing suitable products of your taste that have a heritage and
                                       love from India!
                                       We are a trademark certified firm registered under government of India."
                                    </p>
                                    <a class="read_more" href="#" target="_blank"
                                       style="font-size:14px">Mail-Des.rangeela@gmail.com
                                       <i style="margin-left:5px" class="fas fa-hand-point-up"></i></a>
                                 </div>
                              </div>
                              <div class="col-md-12 col-lg-5">
                                 <div class="text_img">
                                    <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#" />
                                    </figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </section>
      </div>
   </div>

   <div class="header">
      <div class="white_bg">

         <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12 col-lg-7">
                                 <div class="text-bg">
                                    <span>Social Media Marketing

                                    </span>
                                    <h1>Finnero
                                    </h1>
                                    <p>Role Description :Building an app that helps you automatically track your
                                       expenses and save more money
                                    </p>
                                    <a class="read_more" href="https://forms.gle/2mXNrHEPEJyMtbuz5
                                    " target="_blank">Apply Now
                                       <i style="margin-left:5px" class="fas fa-hand-point-up"></i></a>
                                 </div>
                              </div>
                              <div class="col-md-12 col-lg-5">
                                 <div class="text_img">
                                    <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#" />
                                    </figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </section>
      </div>
   </div>
   <div class="header">
      <div class="white_bg">

         <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12 col-lg-7">
                                 <div class="text-bg">
                                    <span>Social Media Marketing

                                    </span>
                                    <h1>ELESPA
                                    </h1>
                                    <p>"ELESPA HEV is a company which makes any on-petrol running vehicle Hybrid
                                       Electric. It is way better than complete-electric vehicles as there is no need
                                       for charging stations. Our Hybrid Electric system has a portable battery, so you
                                       can charge it anywhere Simply put - Efficient, Convenient, and Inexpensive.
                                       Our Hybrid Electric System Space between Electric and System.
                                       "
                                    </p>
                                    <a class="read_more" href="https://docs.google.com/forms/d/e/1FAIpQLSeWwyRvpRLWwy6or7bnPurNGs1rHd-n8DT6Dyz-yrEVwt3Pag/viewform
                                    " target="_blank">Apply Now
                                       <i style="margin-left:5px" class="fas fa-hand-point-up"></i></a>
                                 </div>
                              </div>
                              <div class="col-md-12 col-lg-5">
                                 <div class="text_img">
                                    <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#" />
                                    </figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </section>
      </div>
   </div>
   <div class="header">
      <div class="white_bg">

         <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12 col-lg-7">
                                 <div class="text-bg">
                                    <span>Software
                                    </span>
                                    <h1>SaveNotes.in
                                    </h1>
                                    <p>"Our startup is a revolutionary platform designed for students, by students. It
                                       provides a unique opportunity for users to share notes and reference materials,
                                       build a community, and gain discounts for uploading their own notes or other
                                       reference material. With our platform, students can expand their knowledge by
                                       accessing other users' notes, which can be from different colleges and fields of
                                       study. This helps students to break out of the limitations of their field of
                                       study and explore new areas of interest.

                                       One of the standout features of our platform is that it's completely free for all
                                       users to use, ensuring that knowledge remains open and accessible to everyone. In
                                       addition to this, our platform offers discounts at select stores like stationary
                                       and cake shops, allowing users to save money on everyday purchases. This not only
                                       helps students access the resources they need to learn, but also ensures that
                                       they don't have to worry about financial constraints hindering their academic
                                       pursuits.

                                       Furthermore, our startup encourages users to create original work and be part of
                                       a community of passionate learners. By fostering a culture of collaboration and
                                       knowledge-sharing, we aim to create a vibrant community of lifelong learners who
                                       are eager to help others in their learning journey.

                                       In conclusion, our startup offers a unique platform for students to access a vast
                                       repository of knowledge, expand their horizons, and gain recognition for their
                                       work, all while saving money on everyday purchases. Join us today and become part
                                       of our growing community of passionate learners."</p>
                                    <a class="read_more" href=https://forms.gle/94T11rxv47RJZcPUA target="_blank">Apply
                                       Now<i style="margin-left:5px" class="fas fa-hand-point-up"></i></a>
                                 </div>
                              </div>
                              <div class="col-md-12 col-lg-5">
                                 <div class="text_img">
                                    <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#" />
                                    </figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </section>
      </div>
   </div>

   <script src="js/jquery.min.js"></script>
   <script src="js/custom.js"></script>



   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
   <script src="/static/js/play.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.waves.min.js"></script>

   {% endblock body %}
