{% extends 'base.html' %}
{% block links %}
   <link rel="shortcut icon" href="../static/images/navbarAndFooter/MM + PSF + BF.png">
   <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
   <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
   <link rel="stylesheet" href="/static/styles/navbar.css">
   <link rel="stylesheet" href="/static/styles/footer.css">
   <link rel="stylesheet" href="/static/styles/bt8.css">
   <link rel="stylesheet" href="/static/styles/style8.css">
   {% endblock links %} 
   {% block body %}
   <!-- loader  -->
   <!-- <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#" /></div>
      </div> -->
   <!-- end loader -->
   <!-- header -->
   <!-- header inner -->
   <div class="a" style="font-family: league_spartan;">
      <h1 style="color: whitesmoke;text-align:center;font-size:35px;font-weight:bold;">Technical Zone Internships</h1>
   </div>
   <div class="header">
      <div class="white_bg">



         <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12 col-lg-7">
                                 <div class="text-bg">
                                    <span>Online and Offline Digital Sales and Marketing Internship
                                    </span>
                                    <h1>Smart Suburbs™
                                    </h1>
                                    <p>Role Description :Hyperlocal Digital platform network for Pune and Mumbai
                                       businesses. Local businesses need highly targeted Digital Visibility and Leads.
                                       Smart Suburbs Directories offer Google 1st page and local social presence and
                                       equally provide 360° Digital services covering Local Contests, Paid Ads, Local
                                       residents engagement, Content Marketing, Video content and more.
                                    </p>
                                    <a class="read_more" href="#">Call 8888658447
                                       <i style="margin-left:5px" class="fas fa-hand-point-up"></i></a>
                                 </div>
                              </div>
                              <div class="col-md-12 col-lg-5">
                                 <div class="text_img">
                                    <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#" />
                                    </figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </section>
      </div>
   </div>

   <div class="header">
      <div class="white_bg">

         <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12 col-lg-7">
                                 <div class="text-bg">
                                    <span>Electronics, Software, Application Developers, EV
                                    </span>
                                    <h1>Udayan Ecotech Pvt Ltd
                                    </h1>
                                    <p>Role Description : Udayan Ecotech is an Automotive Platform that enables the
                                       development of smart mobility applications, including vehicles with two, four,
                                       and six wheels and ADAS (Advanced Driver Assistance Systems) Capabilities for
                                       Software Defined Vehicles. It offers advanced hardware and software features that
                                       enable automakers, OEMs, Fleet Operators, Software Developers, and Auto
                                       enthusiasts to integrate advanced functionalities into their vehicles, thereby
                                       offering riders an effortless and customized driving experience.
                                    </p>
                                    <a class="read_more" href="https://forms.gle/ytJ73G3PBAKQG3w48
                                         " target="_blank">Apply Now<i style="margin-left:5px"
                                          class="fas fa-hand-point-up"></i></a>
                                 </div>
                              </div>
                              <div class="col-md-12 col-lg-5">
                                 <div class="text_img">
                                    <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#" />
                                    </figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </section>
      </div>
   </div>

   <div class="header">
      <div class="white_bg">

         <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12 col-lg-7">
                                 <div class="text-bg">
                                    <span>Manufacturing Operations, Full-Stack / Front End / Back End / Development,
                                       Product Design & Branding, Marketing & Sales Internship
                                    </span>
                                    <h1>Ocular Manufacturing Pvt. Ltd.
                                    </h1>
                                    <p>Role Description : Ocular Manufacturing is a user-friendly digital platform
                                       transforming the manufacturing industry by providing innovative solutions such as
                                       On-Demand Manufacturing, Book My Machine(Free Machines Capacity Rental Platform),
                                       E-Commerce for industrial equipment and spare parts.
                                    </p>
                                    <a class="read_more" href="https://forms.gle/dT7RimUDEKJX7GdQ7
                                          " target="_blank">Apply Now<i style="margin-left:5px"
                                          class="fas fa-hand-point-up"></i></a>
                                 </div>
                              </div>
                              <div class="col-md-12 col-lg-5">
                                 <div class="text_img">
                                    <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#" />
                                    </figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </section>
      </div>
   </div>

   <div class="header">
      <div class="white_bg">

         <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12 col-lg-7">
                                 <div class="text-bg">
                                    <span>Software Engineer, Digital Marketing, Sales
                                    </span>
                                    <h1>Mktg.Doctor
                                    </h1>
                                    <p>Role Description : We automate every engagement and interaction with patients, to
                                       give you results while also saving you costs and time. Mktg.Doctor is a
                                       plug-n-play all-in-one marketing automation solution that fits the needs of
                                       healthcare business of all sizes.
                                    </p>
                                    <a class="read_more" href="https://forms.gle/3c3fMWV813e2KsNT8
                                          " target="_blank">Apply Now<i style="margin-left:5px"
                                          class="fas fa-hand-point-up"></i></a>
                                 </div>
                              </div>
                              <div class="col-md-12 col-lg-5">
                                 <div class="text_img">
                                    <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#" />
                                    </figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </section>
      </div>
   </div>

   <div class="header">
      <div class="white_bg">

         <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12 col-lg-7">
                                 <div class="text-bg">
                                    <span>Mechanical Designing Internship, Technical Internship , Mechanical Engineer
                                       Internship,
                                    </span>
                                    <h1>CeraTherm Technologies India Pvt. Ltd.
                                    </h1>
                                    <p>Role Description : We provide complete process & turnkey solutions including
                                       Capital Machineries & Consumables for aluminum foundries, die casters & Primary,
                                       and Secondary Smelters.
                                    </p>
                                    <a class="read_more" href="https://extendedforms.io/form/98a6f995-f914-4f52-8cd1-5dbe19db1176/login
                                          " target="_blank">Apply Now<i style="margin-left:5px"
                                          class="fas fa-hand-point-up"></i></a>
                                 </div>
                              </div>
                              <div class="col-md-12 col-lg-5">
                                 <div class="text_img">
                                    <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#" />
                                    </figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </section>
      </div>
   </div>


   <div class="header">
      <div class="white_bg">

         <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12 col-lg-7">
                                 <div class="text-bg">
                                    <span>Computer Engineer, Mechanical Engineer
                                    </span>
                                    <h1>Assist Design Automation Private Limited
                                    </h1>
                                    <p>Role Description : Explore at https://arkit.games/
                                    </p>
                                    <a class="read_more" href="#">Call at 9765394667<i style="margin-left:5px"
                                          class="fas fa-hand-point-up"></i></a>
                                 </div>
                              </div>
                              <div class="col-md-12 col-lg-5">
                                 <div class="text_img">
                                    <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#" />
                                    </figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </section>
      </div>
   </div>
   <div class="header">
      <div class="white_bg">

         <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12 col-lg-7">
                                 <div class="text-bg">
                                    <span>Software as a service
                                    </span>
                                    <h1>Kuickplan
                                    </h1>
                                    <p>Role Description : We are service based platform for managing all kind of events
                                       if you want to do any event from birthday to wedding or corporate to politics we
                                       are here

                                    </p>
                                    <a class="read_more" href="https://docs.google.com/forms/d/e/1FAIpQLSfMxNfNuoSDs9x1dV648xdClhS2BlNmzXqK0apo0LDMUey6LQ/viewform?usp=sf_link
                                          " target="_blank">Apply Now<i style="margin-left:5px"
                                          class="fas fa-hand-point-up"></i></a>
                                 </div>
                              </div>
                              <div class="col-md-12 col-lg-5">
                                 <div class="text_img">
                                    <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#" />
                                    </figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </section>
      </div>
   </div>
   <div class="header">
      <div class="white_bg">

         <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-12 col-lg-7">
                                 <div class="text-bg">
                                    <span>SOFTWARE ENGINEERING , CONTENT WRITER INTERN
                                    </span>
                                    <h1>Argyleenigma Tech Labs( Budgetalizer )
                                    </h1>
                                    <p>We are bulding self driven AI solutions to get your financial freedom early!!

                                    </p>
                                    <a class="read_more" href="https://tinyurl.com/hr-jobsatbudgetalizer"
                                       target="_blank">Apply Now<i style="margin-left:5px"
                                          class="fas fa-hand-point-up"></i></a>
                                 </div>
                              </div>
                              <div class="col-md-12 col-lg-5">
                                 <div class="text_img">
                                    <figure><img style="width:50%" src="../static/images/navbarAndFooter/PSFb.png" alt="#" />
                                    </figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

            </div>
         </section>
      </div>
   </div>

   <script src="js/jquery.min.js"></script>
   <script src="js/custom.js"></script>



   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
   <script src="/static/js/play.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.waves.min.js"></script>
   {% endblock body %}
