 .navbar {
  font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
 }
 .u-section-3 {
    background-image: none;
    min-height: 1082px;
  }
  
  .u-section-3 .u-shape-1 {
    height: 351px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-3 .u-image-1 {
    width: 844px;
    height: 563px;
    margin: -251px auto 0 calc(((100% - 1140px) / 2) + 120px);
  }
  
  .u-section-3 .u-group-1 {
    min-height: 343px;
    width: 442px;
    margin: -163px auto 0 calc(((100% - 1140px) / 2));
  }
  
  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-3 .u-text-1 {
    font-weight: 500;
    letter-spacing: 0px;
    margin: 0 auto 0 0;
  }
  
  .u-section-3 .u-text-2 {
    font-size: 3.75rem;
    margin: 10px 0 0;
  }
  
  
  
  .u-section-3 .u-group-2 {
    width: 598px;
    min-height: 426px;
    box-shadow: 0px 0px 20px 0 rgba(0,0,0,0.25);
    margin: -296px calc(((100% - 1140px) / 2)) 60px auto;
  }
  
  .u-section-3 .u-container-layout-2 {
    padding: 30px 50px 30px 40px;
  }
  
  
  .u-section-3 .u-text-5 {
    line-height: 2;
    margin: 33px 0 0;
  }
  
  
  
  @media (max-width: 1199px) {
     .u-section-3 {
      min-height: 1141px;
    }
  
    .u-section-3 .u-image-1 {
      width: 748px;
      margin-left: auto;
    }
  
    .u-section-3 .u-group-1 {
      margin-left: calc(((100% - 940px) / 2));
    }
  
    .u-section-3 .u-group-2 {
      width: 421px;
      min-height: 484px;
      margin-right: calc(((100% - 940px) / 2));
    }
  }
  
  @media (max-width: 991px) {
     .u-section-3 {
      min-height: 1385px;
    }
  
    .u-section-3 .u-image-1 {
      width: 668px;
      height: 542px;
      margin-right: calc(((100% - 720px) / 2));
    }
  
    .u-section-3 .u-group-1 {
      margin-top: -142px;
      margin-left: calc(((100% - 720px) / 2));
    }
  
    .u-section-3 .u-group-2 {
      width: 720px;
      min-height: 404px;
      margin-top: 49px;
      margin-right: auto;
    }
  
    .u-section-3 .u-container-layout-2 {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
  
  @media (max-width: 767px) {
     .u-section-3 {
      min-height: 1356px;
    }
  
    .u-section-3 .u-image-1 {
      width: 497px;
      height: 453px;
      margin-top: -266px;
      margin-right: calc(((100% - 540px) / 2));
    }
  
    .u-section-3 .u-group-1 {
      width: 397px;
      margin-top: -38px;
      margin-left: calc(((100% - 540px) / 2));
    }
  
    .u-section-3 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-3 .u-text-2 {
      font-size: 2.8125rem;
    }
  
    .u-section-3 .u-group-2 {
      width: 540px;
    }
  
    .u-section-3 .u-container-layout-2 {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  @media (max-width: 575px) {
     .u-section-3 {
      min-height: 1334px;
    }
    .abcd {
      font-size: 2.11rem;
  }
  
    .u-section-3 .u-image-1 {
      width: 340px;
      height: 310px;
      margin-right: calc(((100% - 340px) / 2));
    }
  
    .u-section-3 .u-group-1 {
      min-height: 307px;
      width: 340px;
      margin-top: 60px;
      margin-left: auto;
    }
  
    .u-section-3 .u-text-2 {
      font-size: 2.25rem;
    }
  
    .u-section-3 .u-group-2 {
      width: 340px;
      min-height: 452px;
      margin-top: 60px;
    }
  } 





  html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  body {
    margin: 0;
  }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }
  img {
    border-style: none;
  }
  
  ul,
  ol {
    padding-left: 20px;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  html {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  body {
    height: auto;
    min-height: 100%;
  }
  body,
  aside,
  .u-sidebar-block,
  section,
  header,
  footer {
    position: relative;
  }
  section > *,
  header > *,
  footer > *,
  .u-sheet > *,
  .u-section-row > * {
    position: relative;
  }
  
  a {
    color: #259bca;
    text-decoration: none;
  }
  .u-clearfix:after,
  .u-clearfix:before {
    content: '';
    display: table;
  }
  .u-clearfix:after {
    clear: both;
  }
  
  .u-text-default {
    display: table;
    align-self: flex-start;
    width: -webkit-fit-content;
    width: fit-content;
    width: -moz-fit-content;
  }
  
  .u-image,
  .u-background-effect-image,
  .u-video-poster {
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  img.u-image,
  .u-video-poster {
    overflow: hidden;
  }
  
  .u-container-layout {
    position: relative;
    flex: 1;
    max-width: 100%;
    transition-duration: inherit;
  }
  .u-inner-container-layout,
  .u-inner-container-layout > *,
  .u-group-elements,
  .u-group-elements > *,
  .u-container-layout > * {
    position: relative;
  }
  
  .u-expanded-width {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  
  .u-valign-middle,
  .u-valign-top,
  .u-valign-bottom {
    display: flex;
    flex-direction: column;
  }
  
  .u-valign-middle > *,
  .u-valign-top > *,
  .u-valign-bottom > * {
    flex-shrink: 0;
  }
  .u-valign-middle {
    justify-content: center;
  }
  
   
  .u-group .u-container-layout > * {
    position: relative;
  }
  .u-group {
    display: flex;
  }
  
  .u-shape {
    position: relative;
  }
  
  html {
    font-size: 16px;
  }
  .u-body {
    font-size: 1rem;
    line-height: 1.6;
  }
  .u-body h1,
  .u-body h2,
  .u-body h3,
  .u-body h4,
  .u-body h5,
  .u-body h6 {
    padding: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    font-weight: 500;
    color: inherit;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  h4 {
    font-size: 1.25rem;
  }
  
  p {
    margin-top: 0;
    padding: 0;
    margin-bottom: 0.5rem;
  }
  .u-text {
    word-wrap: break-word;
    position: relative;
  }
  
  .u-body {
    --animation-fade_in-opacity: 0;
    --animation-fade_in_up-opacity: 0;
    --animation-fade_in_left-opacity: 0;
    --animation-fade_in_right-opacity: 0;
    --animation-fade_in_down-opacity: 0;
    --animation-fade_in_up_big-opacity: 0;
    --animation-fade_in_left_big-opacity: 0;
    --animation-fade_in_right_big-opacity: 0;
    --animation-fade_in_down_big-opacity: 0;
    --animation-fade_out-opacity: 0;
    --animation-fade_out_up-opacity: 0;
    --animation-fade_out_left-opacity: 0;
    --animation-fade_out_right-opacity: 0;
    --animation-fade_out_down-opacity: 0;
    --animation-fade_out_up_big-opacity: 0;
    --animation-fade_out_left_big-opacity: 0;
    --animation-fade_out_right_big-opacity: 0;
    --animation-fade_out_down_big-opacity: 0;
    --animation-rotate_in-rotate: -200deg;
    --animation-rotate_in_down_left-rotate: -45deg;
    --animation-rotate_in_down_right-rotate: 45deg;
    --animation-rotate_in_up_left-rotate: 45deg;
    --animation-rotate_in_up_right-rotate: -90deg;
    --animation-rotate_out-rotate: 200deg;
    --animation-rotate_out_down_left-rotate: 45deg;
    --animation-rotate_out_down_right-rotate: -45deg;
    --animation-rotate_out_up_left-rotate: -45deg;
    --animation-rotate_out_up_right-rotate: 90deg;
    --animation-roll_in-rotate: -120deg;
    --animation-roll_in-translate_x: -100%;
    --animation-roll_out-rotate: 120deg;
    --animation-roll_out-translate_x: 100%;
    --animation-zoom_in-scale: 0.3;
    --animation-zoom_in_down-scale: 0.475;
    --animation-zoom_in_down-translate_y: 60px;
    --animation-zoom_in_up-scale: 0.475;
    --animation-zoom_in_up-translate_y: -60px;
    --animation-zoom_in_left-scale: 0.475;
    --animation-zoom_in_left-translate_x: 10px;
    --animation-zoom_in_right-scale: 0.475;
    --animation-zoom_in_right-translate_x: -10px;
    --animation-zoom_out-scale: 0.3;
    --animation-zoom_out_down-scale: 0.475;
    --animation-zoom_out_down-translate_y: -60px;
    --animation-zoom_out_up-scale: 0.475;
    --animation-zoom_out_up-translate_y: 60px;
    --animation-zoom_out_left-scale: 0.475;
    --animation-zoom_out_left-translate_x: 42px;
    --animation-zoom_out_right-scale: 0.475;
    --animation-zoom_out_right-translate_x: -42px;
    --animation-slide_in_down-translate_y: -100%;
    --animation-slide_in_up-translate_y: 100%;
    --animation-slide_in_left-translate_x: -100%;
    --animation-slide_in_right-translate_x: 100%;
    --animation-slide_out_down-translate_y: 100%;
    --animation-slide_out_up-translate_y: -100%;
    --animation-slide_out_left-translate_x: -100%;
    --animation-slide_out_right-translate_x: 100%;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-scale: 1;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-opacity: 0;
    
    
    
  }
  
  .u-radius-20,
  .u-radius-20:before,
  .u-radius-20 .u-background-effect,
  .u-radius-20:not(.u-hover-box) > .u-container-layout {
    border-radius: 20px !important;
  }
  
  .u-body {
    font-family: 'Open Sans',sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Roboto,sans-serif;
  }
  .u-overlap.u-overlap-transparent .u-header,
  .u-image,
  .u-gradient {
    color: #111111;
  }
  .u-body {
    color: #111111;
    background-color: #ffffff;
    --effect-scale: 1.1;
  }
  .u-custom-font.u-text-font {
    font-family: 'Open Sans',sans-serif !important;
  }
  
  .u-palette-5-dark-3,
  .u-body.u-palette-5-dark-3,
  section.u-palette-5-dark-3:before,
  .u-palette-5-dark-3 > .u-container-layout:before,
  .u-palette-5-dark-3 > .u-inner-container-layout:before,
  .u-palette-5-dark-3.u-sidenav:before,
  .u-container-layout.u-container-layout.u-palette-5-dark-3:before,
  .u-table-alt-palette-5-dark-3 tr:nth-child(even) {
    color: #ffffff;
    background-color: #292d33;
  }
  .u-palette-5-light-3,
  .u-body.u-palette-5-light-3,
  section.u-palette-5-light-3:before,
  .u-palette-5-light-3 > .u-container-layout:before,
  .u-palette-5-light-3 > .u-inner-container-layout:before,
  .u-palette-5-light-3.u-sidenav:before,
  .u-container-layout.u-container-layout.u-palette-5-light-3:before,
  .u-table-alt-palette-5-light-3 tr:nth-child(even) {
    color: #111111;
    /* background-color: #f5f7fa; */
  }
  
  
  .abcd{
    font-size: 2.65rem;
  }
  .u-white,
  .u-body.u-white,
  section.u-white:before,
  .u-white > .u-container-layout:before,
  .u-white > .u-inner-container-layout:before,
  .u-white.u-sidenav:before,
  .u-container-layout.u-container-layout.u-white:before,
  .u-table-alt-white tr:nth-child(even) {
    color: #111111;
    background-color: #ffffff;
  }
  
          .u-body
          {
    
          --theme-sheet-width-xl: 1140px;
          --theme-sheet-width-lg: 940px;
          --theme-sheet-width-md: 720px;
          --theme-sheet-width-sm: 540px;
          --theme-sheet-width-xs: 340px;
         
          }
  
          h2:not(.u-subtitle)
          {
          font-weight: 400;
          font-size: 2.25rem;
          line-height: 1.1;
          margin-top: 20px;
          margin-bottom: 20px;
          }
  
          h4
          {
          font-weight: 400;
          font-size: 1.5rem;
          line-height: 1.2;
          margin-top: 20px;
          margin-bottom: 20px;
          }
  
          p:not(.u-text-variant)
          {
          margin-top: 20px;
          margin-bottom: 20px;
          }
  
          ul:not(.u-unstyled)
          {
          /* margin-top: 50px; */
          margin-bottom: 20px;
          }
          ol
          {
          margin-top: 20px;
          margin-bottom: 20px;
          }
  
          h2:not(.u-subtitle)
          {
          font-size: 1.5rem;
          }
  
          .u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item) > a,
          .u-gradient > .u-container-layout > a,
          .u-image:not(.u-shading) > .u-container-layout > a,
          a
          {
          color: #478ac9;
          }
     
   html { font-size: 16px; 
  }

  .footer-widget .cards .cardFooter span{
    text-align: center;
    font-size: 15px;
  }
  