@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");

  
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    /* height: 100%; */
  }
  
  body {
    align-items: center;
    /* font-family: 'Merriweather', serif; */
    justify-content: center;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

.nav-bg{
    /* position: relative; */
    height: 15vh;
    /* background-color: #000000;  */

}
p {
    margin: 0;
}

#burger-toggle {
    position: absolute;
    appearance: none;
    opacity: 0;
}

#burger-toggle:checked~.menu {
    opacity: 1;
    visibility: visible;
}

#burger-toggle:checked~.menu .menu-nav-link span div,
#burger-toggle:checked~.menu img,
#burger-toggle:checked~.menu .title p {
    transform: translateY(0);
    transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
}

#burger-toggle:checked~.menu .image-link:nth-child(1) img {
    transition-delay: 0.18s;
}

#burger-toggle:checked~.menu .image-link:nth-child(2) img {
    transition-delay: 0.26s;
}

#burger-toggle:checked~.menu .image-link:nth-child(3) img {
    transition-delay: 0.34s;
}

#burger-toggle:checked~.menu .image-link:nth-child(4) img {
    transition-delay: 0.42s;
}

#burger-toggle:checked~.burger-menu .line::after {
    transform: translateX(0);
}

#burger-toggle:checked~.burger-menu .line:nth-child(1) {
    transform: translateY(calc(var(--burger-menu-radius) / 5)) rotate(45deg);
}

#burger-toggle:checked~.burger-menu .line:nth-child(2) {
    transform: scaleX(0);
}

#burger-toggle:checked~.burger-menu .line:nth-child(3) {
    transform: translateY(calc(var(--burger-menu-radius) / -5)) rotate(-45deg);
}

.burger-menu {
    --burger-menu-radius: 4em;
    position: fixed;
    top: 3vh;
    left: 5vw;
    /* right: 5vw; */
    z-index: 1000;
    display: block;
    width: var(--burger-menu-radius);
    height: var(--burger-menu-radius);
    outline: none;
    cursor: pointer;
}

.burger-menu .line {
    position: absolute;
    left: 25%;
    width: 70%;
    height: 4px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}

.burger-menu .line:nth-child(1) {
    top: 30%;
}

.burger-menu .line:nth-child(2) {
    top: 50%;
}

.burger-menu .line:nth-child(3) {
    top: 70%;
}

.burger-menu .line::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: blueviolet;
    transform: translateX(-100%);
    transition: 0.25s;
}

.burger-menu .line:nth-child(2)::after {
    transition-delay: 0.1s;
}

.burger-menu .line:nth-child(3)::after {
    transition-delay: 0.2s;
}

.burger-menu:hover .line::after {
    transform: translateX(0);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
    background: rgb(26, 30, 35, 1);
    opacity: 0;
    overflow-x: hidden;
    visibility: hidden;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 105;
    transition: 0.5s;
}

@media screen and (max-width: 750px) {
    .menu {
        display: block;
    }
}

.menu-nav {
    display: flex;
    flex-direction: column;
    /* margin: 0; */
    margin-top: 60px;
    padding: 0;
    text-align: center;
    list-style-type: none;
    position: relative;
    top: 200px;
    padding-top: 170px;
    font-size: 2rem;
}

@media screen and (max-width: 750px) {
    .menu-nav:nth-child(1) {
        margin-top: -80px;
        flex-direction: column;
    }

    .menu-nav:nth-child(2) {
        padding-top: 0px;
        flex-direction: column;
    }
}

.menu-nav-item {
    padding: 0.3rem;
    flex: 1;
}

.menu-nav-link {
    position: relative;
    display: inline-flex;
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.menu-nav-link:hover {
    color: rgb(203, 203, 250);
    text-decoration: none;
}

.menu-nav-link span {
    overflow: hidden;
}

.menu-nav-link span div {
    transform: translateY(102%);
}

.menu-nav-link::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: rgb(203, 203, 250);
    ;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}

.menu-nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    
}

.menu .gallery {
    /* padding-top: 100px; */
    text-align: center;
    padding-bottom: 100px;
    position: relative;
    top: 100px;
}

@media screen and (min-width: 750px) {
    .menu .gallery {
        top: 250px
    }
}

/* @media screen and (min-width: 750px) and (max-width: 825px) {
    
} */

.menu .title {
    font-size: 70px;
    color: white;
    overflow: hidden;

}

.menu .title p {
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transform: translateY(102%);
}

.menu .images {
    margin-top: 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 750px) {
    .menu-nav {
        top: 70px;
    }
}

@media screen and (max-width: 750px) {
    .menu .images {
        justify-content: center;
    }
}

.menu .images .image-link {
    width: 15vw;
    margin: 0 12px;
    overflow: hidden;
}

@media screen and (max-width: 750px) {
    .menu .images .image-link {
        width: 40vw;
        margin: 0 12px 12px 0;
    }
}

.menu .images .image-link .image {
    position: relative;
    transition: 0.6s;
}

.menu .images .image-link .image::before {
    position: absolute;
    content: attr(data-label);
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: 0.4s;
}

.menu .images .image-link:hover .image {
    transform: scale(1.2);
}

.menu .images .image-link:hover .image::before {
    opacity: 1;
}

.menu .images img {
    height: 250px;
    transform: translateY(102%);
}
